.horses-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
}

.horses-list__condition-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.horses-list__condition {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  color: $color-text-secondary;
  margin-bottom: $spacing-sm;
}
